/gates/nbproject/private/
/factory/nbproject/private/
/factory/build/
/triple/nbproject/private/
/triple/build/
/gates/build/
/quicksort/nbproject/private/
/quicksort/build/
/practice/count/nbproject/private/
/practice/count/build/
/practice/wind/nbproject/private/
/practice/wind/build/
/practice/acis/nbproject/private/
/practice/acis/build/
/practice/fram/nbproject/private/
/practice/fram/build/
/CCC2016/practice/nbproject/private/
/CCC2016/ragaman/nbproject/private/
/CCC2016/practice/build/
/CCC2016/ragaman/build/
/CCC2016/bicycle/nbproject/private/
/CCC2016/bicycle/build/
/CCC2016/review/nbproject/private/
/CCC2016/circle/nbproject/private/
/CCC2016/circle/build/
/CCC2016/rice/nbproject/private/
/CCC2016/rice/build/
/CCC2016/review/build/